html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn-darkmode {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  padding: 1.2rem;
  cursor: pointer;
  box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 1000;
}

.btn-darkmode:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.btn-darkmode .material-symbols-outlined {
  font-size: 4rem;
  color: #222;
  transition: color 0.3s ease;
}

body.dark-mode .btn-darkmode {
  background-color: #222;
}

body.dark-mode .btn-darkmode .material-symbols-outlined {
  color: #fff;
}

body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;             
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .field input[type="text"] {
  background-color: #121212;
  color: #fff;
  border-bottom: 3px solid #555;
}

body.dark-mode .task {
  border: 1px solid #ffffff;
}

@media (max-width: 60rem) {
  .btn-darkmode {
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 1rem;
    box-shadow: 0 o.3rem 0.6rem rgba(0,0,0,0.25);
  }

  .btn-darkmode .material-symbols-outlined {
    font-size: 2.6rem;
  }
}
